div {
  background-color: white: ;
    width: 700px;
    border: 25px solid rgb(244, 248, 249);
    padding: 25px;
    margin: 25px;
    font-family: Helvetica;
}
useracct {
  background-color: white;
  color: rgb(104, 109, 129);
}
twtrdate {
  color: rgb(101, 116, 127);
}
bottomtext {
  color: rgb(105, 120, 130);
}
}
div2 {
  background-color: white;
  width: 700px;
  height: auto;
  border: 1px solid;
}
/*{
  background: rgb(255, 255, 255);
  width: 300px;
  padding: 25px;
  margin: 25px;
  border: 25px rgb(244, 248, 249);
  padding: 25px;
}
/*
